.formAdd {
    color: rgb(49, 49, 49);
    font-size: 2.8rem;
    display:fixed;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    background: #8080809f 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    padding:10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    width: 500px;
}



/* label {
    font-size: 14px;
}
input {
    box-sizing: border-box;
    height: 39px;
    width: 426px;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
    color: #333333;
    font-size: 18px;
} */


.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    

    
  }
  
  .form_control label {
    margin-bottom: 0.2em;
    font-weight: bold;
    padding-top: 10px;
    color: #333333f5;
    
  }
  
  .form_control input {
    padding: 1.7em;
    border-radius: 5;
    border: 1px solid #b983ffab;
    
    
  }
  
  .form_control input::placeholder {
    color: #7b7b7b;
    
  }

  .btn {
    background-color: #222;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
  }
  
  .btn:hover {
    color: #99FEFF;
  
  }

  input[type=radio] {
    height:28px; 
    width:28px;
  } 
  .Tipo label {
    text-align: center;
  }