.background {
  background-color: #2c2c2c;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 1em;
  /* color: #08f7ff; */
  text-decoration: none;
  
}

/* .background:hover {
  background-color: #3d3d3d;
} */

.h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a:hover {
  color: #ffbb33;
  text-decoration: none;
}