.lead {
    color: rgb(49, 49, 49);
    
    font-size: 1.8rem;
    display:fixed;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    background: #a461d89f 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.negocio {
    color: rgb(49, 49, 49);
    font-size: 1.8rem;
    display:fixed;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    background: #b620e094 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contrato {
    color: rgb(49, 49, 49);
    font-size: 1.8rem;
    display:fixed;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    background: #44d7b7a6 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.andamento {
    color: rgb(49, 49, 49);
    font-size: 1.8rem;
    display:fixed;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    background: #6dd40098 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


